<div class="rainbow-box col-12">
  <p class="score  offset-3  ">HightScore</p>
  <table class="table">
    <tr>
      <th class="head">NAME</th>
      <th class="head">SCORE</th>
    </tr>
    <tr>
      <td class="premier"><span class="blink_me">N01: Teal'c </span></td>
      <td class="premier"><span class="blink_me">01200 point </span> </td>
    </tr>
    <tr>
      <td class="deuxieme">N02: Nicolas</td>
      <td class="deuxieme">00750 point</td>
    </tr>
    <tr>
      <td class="troisieme">N03: Bx</td>
      <td class="troisieme">-0150 point</td>
    </tr>
  </table>
</div>
