table{
    border: solid black 1px;
    width:35%;
    
    border-collapse:collapse;
}
td{
    border: solid black 2px;
    background-color: rgb(227, 239, 248);  

}
.premier{
    color:green;
}
.dernier{
    color: red;
}
.gold{
    color: goldenrod;
}
