<div class="rainbow-box col-12">
  <p class="score  offset-3  ">HightScore</p>
  <table class="table">
    <tr>
      <th class="head">NAME</th>
      <th class="head">SCORE</th>
    </tr>
    <tr>
      <td class="premier"><span class="blink_me">N01: {{p1.name}} </span></td>
      <td class="premier"><span class="blink_me">{{p1.score}} points</span> </td>
    </tr>
    <tr>
      <td class="deuxieme">N02: {{p2.name}}</td>
      <td class="deuxieme">{{p2.score}} points</td>
    </tr>
    <tr>
      <td class="troisieme">N03: {{p3.name}}</td>
      <td class="troisieme">{{p3.score}} points</td>
    </tr>
  </table>
</div>
