<div class="container-fluid">
  <div class="row  ">
    <div class=" col-4 col-sm-3 col-lg-2">
      <img src="../../assets/images/logo.png" style="width:100%">
    </div>
  




  <div>

    <img class="apimg" class="offset-5 col-7" src={{firstQuest[0].image}} alt="Responsive image">

  </div>
  </div>
  <!--api nasa sur une planete en particulière-->

  <!--<div class="container col-5">-->
  <div class="row">
    <div class="offset-2 col-4">
      <ul>
        <li>Title of the picture : {{firstQuest[0].title}}</li>
        <li>Some information blablabla : {{truncDescription}}</li>
      </ul>
    </div>
    <div class="col-4">
      <ul>
        <li>Nasa internal identification : {{firstQuest[0].idNasa}}</li>
        <li>Stargate secret identification : {{firstQuest[0].idMission}}</li>
      </ul>
    </div>
  </div>
</div>

<div class="offset-xs-2 col-xs-4">
  <!--<div class="offset-2 col-md-8 col-xs-4">-->
  <div style="text-align:center">
    <p>{{firstQuest[0].description}}</p>
  </div>
</div>
<div class="container buttons mt-5">
  <div class="row  ">
    <button type="button" class="col-3 col-md-4 btn btn-light" [routerLink]="['../quiz']">Quizz</button>
    <div class="col-4"></div>
    <button type="button" class="col-5 col-md-4 btn btn-light" [routerLink]="['']">home</button>