<body>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div> <img src="" alt="">
    logo
  </div>


  <div>
    <h2>Image en temps réel</h2>
    <div class="container">
      <img class="offset-col-7 col-5" src="https://static.le-systeme-solaire.net/ressources/syssol/terre_title2.jpg"
        class="rounded mx-auto d-block" alt="images"></div>
    <!--api nasa sur une planete en particulière-->
  </div>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>Une planète est un corps céleste orbitant autour du Soleil</td>
        <td>L'âge de la Terre est aujourd'hui estimé à 4,54 milliards d'années</td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>Distance entre la Terre et le Soleil: 149 597 870 km.</td>
        <td>température de surface moyenne: 15°C</td>
      </tr>
    </tbody>
  </table>
  <div>
    <div style="text-align:center">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptas
        tenetur, eligendi quae aperiam rem atque, minima eum pariatur doloribus non.
        Tempora id atque accusamus corrupti rem fugiat obcaecati similique.Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolore voluptas
        tenetur, eligendi quae aperiam rem atque, minima eum pariatur doloribus non.
        Tempora id atque accusamus corrupti rem fugiat obcaecati similique.Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolore voluptas
        tenetur, eligendi quae aperiam rem atque, minima eum pariatur doloribus non.
        Tempora id atque accusamus corrupti rem fugiat obcaecati similique.</p>
    </div>
  </div>

  <div>
    <button> <a href="#"> Quizz</a> </button>
  </div>

  <div><button> <a href="#">Page acceuil</a></button></div>
</body>