<div class="container-fluid">
  <div class="row col-12 ">
    <div class="col-md-2 offset-md-1">
      <img src="../../assets/images/logoTitle.png" style="width:100%">
    </div>




    <div>

      <img class=" offset-2 col-8" src="../../assets/images/terre_title2.jpg" alt="Responsive image">

    </div>
    <!--api nasa sur une planete en particulière-->

    <table class="table">
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>-Une planète est un corps céleste orbitant autour du Soleil</td>
          <td>-L'âge de la Terre est aujourd'hui estimé à 4,54 milliards d'années</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td>-Distance entre la Terre et le Soleil: 149 597 870 km.</td>
          <td>-température de surface moyenne: 15°C</td>
        </tr>
      </tbody>
    </table>
    <div>
      <div style="text-align:center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore voluptas
          tenetur, eligendi quae aperiam rem atque, minima eum pariatur doloribus non.
          Tempora id atque accusamus corrupti rem fugiat obcaecati similique.Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Dolore voluptas
          tenetur, eligendi quae aperiam rem atque, minima eum pariatur doloribus non.
          Tempora id atque accusamus corrupti rem fugiat obcaecati similique.Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Dolore voluptas
          tenetur, eligendi quae aperiam rem atque, minima eum pariatur doloribus non.
          Tempora id atque accusamus corrupti rem fugiat obcaecati similique.</p>
      </div>
    </div>
    <div class="container buttons">
      <div class="row  ">
        <button type="button" class="col-3 col-md-4 btn btn-light"> <a href="#">Quizz</a></button>
        <div class="col-4"></div>
        <button type="button" class="col-5 col-md-4 btn btn-light"> <a [routerLink]="['']">page acceuil</a></button>

      </div>
    </div>
  </div>
</div>