<div class="dhd">
  <div class="bg"></div>
  <div class="btn-start" (click)="onStart()"></div>
  <div class="buttons">
    <div class='dhd-btn btn1' (click)="onPress(1, 'btn1')"></div>
    <div class='dhd-btn btn2' (click)="onPress(2, 'btn2')"></div>
    <div class='dhd-btn btn3' (click)="onPress(3, 'btn3')"></div>
    <div class='dhd-btn btn4' (click)="onPress(4, 'btn4')"></div>
    <div class='dhd-btn btn5' (click)="onPress(5, 'btn5')"></div>
    <div class='dhd-btn btn6' (click)="onPress(6, 'btn6')"></div>
    <div class='dhd-btn btn7' (click)="onPress(7, 'btn7')"></div>
    <div class='dhd-btn btn8' (click)="onPress(8, 'btn8')"></div>
    <div class='dhd-btn btn9' (click)="onPress(9, 'btn9')"></div>
    <div class='dhd-btn btn10' (click)="onPress(10, 'btn10')"></div>
    <div class='dhd-btn btn11' (click)="onPress(11, 'btn11')"></div>
    <div class='dhd-btn btn12' (click)="onPress(12, 'btn12')"></div>
    <div class='dhd-btn btn13' (click)="onPress(13, 'btn13')"></div>
    <div class='dhd-btn btn14' (click)="onPress(14, 'btn14')"></div>
    <div class='dhd-btn btn15' (click)="onPress(15, 'btn15')"></div>
    <div class='dhd-btn btn16' (click)="onPress(16, 'btn16')"></div>
    <div class='dhd-btn btn17' (click)="onPress(17, 'btn17')"></div>
    <div class='dhd-btn btn18' (click)="onPress(18, 'btn18')"></div>
    <div class='dhd-btn btn19' (click)="onPress(19, 'btn19')"></div>
    <div class='dhd-btn btn20' (click)="onPress(20, 'btn20')"></div>
    <div class='dhd-btn btn21' (click)="onPress(21, 'btn21')"></div>
    <div class='dhd-btn btn22' (click)="onPress(22, 'btn22')"></div>
    <div class='dhd-btn btn23' (click)="onPress(23, 'btn23')"></div>
    <div class='dhd-btn btn24' (click)="onPress(24, 'btn24')"></div>
    <div class='dhd-btn btn25' (click)="onPress(25, 'btn25')"></div>
    <div class='dhd-btn btn26' (click)="onPress(26, 'btn26')"></div>
    <div class='dhd-btn btn27' (click)="onPress(27, 'btn27')"></div>
    <div class='dhd-btn btn28' (click)="onPress(28, 'btn28')"></div>
    <div class='dhd-btn btn29' (click)="onPress(29, 'btn29')"></div>
    <div class='dhd-btn btn30' (click)="onPress(30, 'btn30')"></div>
    <div class='dhd-btn btn31' (click)="onPress(31, 'btn31')"></div>
    <div class='dhd-btn btn32' (click)="onPress(32, 'btn32')"></div>
  </div>
</div>