<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>QuizPage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <img src="../../assets/images/logoTitle.png"
          class="logo mb-1 pt-1 col-12 offset-sm-3 col-sm-7 mb-sm-2 d-lg-none" alt="logo" />
      </div>
      <div class="col-12">
        <img src="../../assets/images/logo.png" class="logo col-lg-2 d-none d-sm-none d-lg-block mt-3" alt="logo" />
      </div>
      <div class="col-12 d-inline-block">

          <img src="../../assets/images/imgQuiz.jpg"
            class="rounded-circle offset-1 col-10  col-lg-5 mb-sm-2 d-inline-block align-middle"
            alt="imageAPI" />
          <app-finalquiz class="col-lg-5 d-inline-block align-middle"></app-finalquiz>

        </div>

        <div class="col-12 mt-5">
          <button type="button" class="col-3 btn btn-light" [routerLink]="['']">Home</button>
          <button type="button" class="offset-6 col-3 btn btn-success"><a
              [routerLink]="['../quest']">Finish</a></button>
        </div>

    </div>
  </div>
</body>

</html>

          <!-- Quiz brute
      <div class="blockQuestion bg-light pt-3 rounded border border-warning">
        <div class="quiz d-flex justify-content-center mb-4 ">
          <h2 class=""><span class="firstQuestion">Voici la première question</span> ?</h2>
        </div>

        <div class="answers pb-2">
          <p class="d-flex justify-content-center"> <img src="../../assets/images/checkBox.png" /> &nbsp; &nbsp; Réponse
            1
          </p>
          <p class="d-flex justify-content-center"> <img src="../../assets/images/checkBox.png" /> &nbsp; &nbsp; Réponse
            2
          </p>
          <p class="d-flex justify-content-center"> <img src="../../assets/images/checkBox.png" /> &nbsp; &nbsp; Réponse
            3
          </p>
          <p class="d-flex justify-content-center"> <img src="../../assets/images/checkBox.png" /> &nbsp; &nbsp; Réponse
            4
          </p>
        </div>
      </div>
    -->
