<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>QuizPage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="quiz.component.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div>
    <div>
      <div class="logo d-flex justify-content-center mb-3 mt-3 ">
        <img src="../../assets/images/logoTitle.png" class="img-fluid d-sm-none d-md-block" />
      </div>

      <div class="quiz d-flex justify-content-center mb-5 ">
        <img src="../../assets/images/imgQuiz.jpg" class="rounded-pill img-fluid-md" />
      </div>

      <div class="blockQuestion bg-light pt-3 rounded border border-warning">
        <div class="quiz d-flex justify-content-center mb-4 ">
          <h2 class=""><span class="firstQuestion">Voici la première question</span> ?</h2>
        </div>

        <div class="answers pb-2">
          <p class="d-flex justify-content-center"> <img src="../../assets/images/checkBox.png" /> &nbsp; &nbsp; Réponse
            1
          </p>
          <p class="d-flex justify-content-center"> <img src="../../assets/images/checkBox.png" /> &nbsp; &nbsp; Réponse
            2
          </p>
          <p class="d-flex justify-content-center"> <img src="../../assets/images/checkBox.png" /> &nbsp; &nbsp; Réponse
            3
          </p>
          <p class="d-flex justify-content-center"> <img src="../../assets/images/checkBox.png" /> &nbsp; &nbsp; Réponse
            4
          </p>
        </div>
      </div>

      <div class="container buttons">
        <div class="row ml-0 mr-0 ">
          <button type="button" class="col-4 btn btn-light">MAIN PAGE</button>
          <div class="col-4"></div>
          <button type="button" class="col-4 btn btn-success">FINISH</button>
        </div>
      </div>

      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
      </script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
      </script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
      </script>
    </div>
  </div>
</body>

</html>
