body {
  height: 1200px;
  background: url(../assets/images/fond_accueil.jpg) center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.container {
  margin-top: 20px;
}
