<div class="container-fluid">
  <div class="row">
    <div class="">
      <img class="img-responsive col-md-4 col-sm-8" src="../../assets/images/logoTitle.png">
    </div>
    <app-hightscore class="offset-9"></app-hightscore>
  </div>
  <app-gate class="offset-4"></app-gate>

  <div class="positionButton col-12">
    <button type="button" class="btn btn-light btn-lg col-1 ml-5" [routerLink]="['../quest']">QUEST</button>
    <button type="button" class="btn btn-light btn-lg offset-9" [routerLink]="['../contact-us']">CONTACT US</button>
  </div>
  
  <a [routerLink]="['../subscribe']">subscribe</a>
</div>
