<div class="row">
  <div class="col-md-2 offset-md-1">
    <img class="img-responsive" src="../../assets/images/logoTitle.png" style="width:100%">
  </div>
  <div class="col-md-4 offset-md-8">
    <app-hightscore></app-hightscore>
  </div>
</div>
<div class="row">
  <div class="col-md-10 offset-md-1">
    <img class="img-responsive" src="../../assets/images/gateCut.png" style="width:50%">
  </div>
</div>
<div class="row">
  <div class="offset-md-9">
    <app-contact-us></app-contact-us>
  </div>
</div>
