<div class="container-fluid">
  <div class="row">
    <div class="">
      <img class="img-responsive col-md-4 col-sm-8" src="../../assets/images/logoTitle.png">
    </div>
    <div class="col-md-5 ">
      <app-hightscore class="col-md-8 "></app-hightscore>
    </div>
    <div class="col-md-4 col-sm-6 offset-md-2 offset-md-4">
      <app-gate class=""></app-gate>
    </div>
    
    <div class="positionButton">
      <button type="button" class="btn btn-light btn-lg col-1 ml-5" [routerLink]="['../quest']">QUEST</button>
      <button type="button" class="btn btn-light btn-lg offset-9" [routerLink]="['../contact-us']">CONTACT US</button>
    </div>
    
    <button type="button" class="btn btn-light btn-lg col-1 ml-5" [routerLink]="['../subscribe']">subscribe</button>

  <div>
    <a [routerLink]="['../picture-viewer']">Picture viewer</a>
  </div>
  
  
  </div>
</div>