.mycontainer{
    margin-top: 20px;
    position: relative;
    top: 0; 
    left: 0;
}
.gate{
    margin: auto;
}
.dial{
    margin: auto;
    position: absolute; 
    z-index: 500;
    top: 412px;
    left: 112px;
}

