::ng-deep body {
    background: none;
    background-color: black;
    height: 100%;
}


.sgc {
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    height: 650px;
    overflow: hidden;
    padding: 0;
    background-image: url("../../assets/images/sgc_background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}


.foreground, .dial {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    padding: 0;
}

.foreground{
    width: 100%;
    height:100%;
    background-image: url("../../assets/images/sgc_foreground.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 100;
}

.dial {
    margin-top: 0;
    z-index: 150;
}

.sgc_gate{
    margin: auto;
    margin-top: 50px;
    width: 512px;
    height: 512px;
    zoom: 0.65;
} 