<form>
  <div class="container">
    <div class="row mb-3">
      <div class="bg-light col-12 rounded border border-warning">
        <div class="form-group text-center mt-3 font-weight-bold">
          <label for="formGroupExampleInput">Question 1 ?</label>
        </div>
        <div class="row">
            <div class="form-check col">
              <input class="form-check-input col-6" type="checkbox" id="gridCheck">
              <label class="form-check-label d-flex justify-content-center" for="gridCheck">
                Réponse 1
              </label>
            </div>
            <div class="form-check col">
              <input class="form-check-input col-6" type="checkbox" id="gridCheck">
              <label class="form-check-label d-flex justify-content-center" for="gridCheck">
                Réponse 1
              </label>
            </div>
            <div class="form-check col mb-3">
              <input class="form-check-input col-6" type="checkbox" id="gridCheck">
              <label class="form-check-label d-flex justify-content-center" for="gridCheck">
                Réponse 1
              </label>
            </div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
        <div class="bg-light col-12 rounded border border-warning">
          <div class="form-group text-center mt-3 font-weight-bold">
            <label for="formGroupExampleInput">Question 1 ?</label>
          </div>
          <div class="row">
              <div class="form-check col">
                <input class="form-check-input col-6" type="checkbox" id="gridCheck">
                <label class="form-check-label d-flex justify-content-center" for="gridCheck">
                  Réponse 1
                </label>
              </div>
              <div class="form-check col">
                <input class="form-check-input col-6" type="checkbox" id="gridCheck">
                <label class="form-check-label d-flex justify-content-center" for="gridCheck">
                  Réponse 1
                </label>
              </div>
              <div class="form-check col mb-3">
                <input class="form-check-input col-6" type="checkbox" id="gridCheck">
                <label class="form-check-label d-flex justify-content-center" for="gridCheck">
                  Réponse 1
                </label>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="bg-light col-12 rounded border border-warning">
            <div class="form-group text-center mt-3 font-weight-bold">
              <label for="formGroupExampleInput">Question 1 ?</label>
            </div>
            <div class="row">
                <div class="form-check col">
                  <input class="form-check-input col-6" type="checkbox" id="gridCheck">
                  <label class="form-check-label d-flex justify-content-center" for="gridCheck">
                    Réponse 1
                  </label>
                </div>
                <div class="form-check col">
                  <input class="form-check-input col-6" type="checkbox" id="gridCheck">
                  <label class="form-check-label d-flex justify-content-center" for="gridCheck">
                    Réponse 1
                  </label>
                </div>
                <div class="form-check col mb-3">
                  <input class="form-check-input col-6" type="checkbox" id="gridCheck">
                  <label class="form-check-label d-flex justify-content-center" for="gridCheck">
                    Réponse 1
                  </label>
                </div>
            </div>
          </div>
        </div>
  </div>
</form>
