

<div class="container">
    <div class="stargate">
    <canvas class="water"></canvas>
    <div class="gate"></div>
    <div class="ring-container">
      <div class="ring"></div>
    </div>
  
    <div class="lock-container">
     
      <div class="lock1 lock">
        <div class="center-on"></div>
        <div class="center-off"></div>
        <div class="base-on"></div>
        <div class="base-off"></div>
      </div>
      <div class="lock2 lock">
        <div class="center-on"></div>
        <div class="center-off"></div>
        <div class="base-on"></div>
        <div class="base-off"></div>
      </div>
      <div class="lock3 lock">
        <div class="center-on"></div>
        <div class="center-off"></div>
        <div class="base-on"></div>
        <div class="base-off"></div>
      </div>
      <div class="lock4 lock">
        <div class="center-on"></div>
        <div class="center-off"></div>
        <div class="base-on"></div>
        <div class="base-off"></div>
      </div>
      <div class="lock5 lock">
        <div class="center-on"></div>
        <div class="center-off"></div>
        <div class="base-on"></div>
        <div class="base-off"></div>
      </div>
      <div class="lock6 lock">
        <div class="center-on"></div>
        <div class="center-off"></div>
        <div class="base-on"></div>
        <div class="base-off"></div>
      </div>
      <div class="lock7 lock">
        <div class="center-on"></div>
        <div class="center-off"></div>
        <div class="base-on"></div>
        <div class="base-off"></div>
      </div>
      
    </div>
  
  </div>
  
</div>
