
<table alt="Card image cap" *ngFor="let banane of firstQuest">
    <div class="tab">
        <tr>
        <th>Title :</th><td><span *ngIf="banane.title"> {{banane.title}}</span><span *ngIf="!banane.title">pas de title</span></td>
        </tr>
        <tr>
        <th>Description :</th><td><span *ngIf="banane.description"> {{banane.description}}</span><span *ngIf="!banane.description">pas de description</span></td>
        </tr>
        <tr>
        <th>image :</th><td><span *ngIf="banane.image"><img src='{{banane.image}}'></span><span *ngIf="!banane.image">pas d'image</span></td>
        </tr>
    </div>
</table>
